## Colton Lee, Eli Herigon, Jake Schildknecht

# Play Type Touchdown Counts

#### This notebook is used for determining which plays led to touchdowns for the top 10 and bottom 10 teams of every season.

In [54]:
import pandas as pd

## Play type classification function

In [55]:
def play_type(playOutcome):
    play = str(playOutcome).lower()
    if "touchdown" in play:  
        if "pass" in play:
            return "Pass"
        elif "interception" in play or "intercepted" in play:
            return "Interception"
        elif "recovered" in play or "recovers" in play:
            return "Fumble"
        elif "pass" not in play:
            return "Run"
    else:
        return "Other"

## Touchdown count for top 10 and bottom 10 teams function

In [56]:
def play_count(scoresURL, playsURL):
    # Import data
    scores = pd.read_csv(scoresURL)
    plays = pd.read_csv(playsURL)

    plays["ShortName"] = plays["TeamWithPossession"].apply(
        lambda x: str(x).split()[-1]
    )

    top10 = scores.head(10)["Team"].tolist()
    bottom10 = scores.tail(10)["Team"].tolist()

    td_plays = plays[plays["PlayOutcome"] == "Touchdown"].copy()

    td_plays["PlayType"] = td_plays["PlayDescription"].apply(play_type)

    topPlays = td_plays[td_plays["ShortName"].isin(top10)]
    bottomPlays = td_plays[td_plays["ShortName"].isin(bottom10)]

    topCount = (
        topPlays.groupby(["ShortName", "PlayType"])
        .size()
        .unstack(fill_value=0)
    )

    bottomCount = (
        bottomPlays.groupby(["ShortName", "PlayType"])
        .size()
        .unstack(fill_value=0)
    )

    return topCount, bottomCount

## Average Play type

In [58]:
def play_type_averages(playCountTable):
    averages = playCountTable.mean(axis=0).to_frame().T
    averages.index = ["Average"]
    return averages

## 2017 Data

In [59]:
top2017, bottom2017 = play_count("2017_scores.csv", "2017_plays.csv")
topAverages2017 = play_type_averages(top2017)
bottomAverages2017 = play_type_averages(bottom2017)

In [60]:
top2017

PlayType   Fumble  Pass  Run
ShortName
Chiefs          1    36   15
Eagles          3    51   16
Jaguars         1    30   26
Patriots        2    52   24
Rams            2    35   19
Ravens          1    26   19
Saints          0    31   29
Seahawks        1    41    9
Steelers        1    40   16
Vikings         0    34   21

In [61]:
bottom2017

PlayType   Fumble  Pass  Run
ShortName
Bears           1    19   15
Browns          3    22   14
Cardinals       1    31   11
Colts           2    19   14
Dolphins        0    36    8
Giants          1    22    9
Jets            1    28   14
Raiders         0    32   14
Texans          1    31   13
Titans          2    22   23

In [108]:
topAverages2017

PlayType  Fumble  Pass   Run
Average      1.2  37.6  19.4

In [109]:
bottomAverages2017

PlayType  Fumble  Pass   Run
Average      1.2  26.2  13.5

## 2018 Data

In [65]:
top2018, bottom2018 = play_count("2018_scores.csv", "2018_plays.csv")
topAverages2018 = play_type_averages(top2018)
bottomAverages2018 = play_type_averages(bottom2018)

In [66]:
top2018

PlayType   Fumble  Pass  Run
ShortName
Bears           1    37   21
Chargers        1    42   23
Chiefs          2    61   21
Colts           3    50   16
Patriots        0    35   33
Rams            3    35   29
Ravens          1    28   23
Saints          1    39   35
Steelers        0    45   22
Texans          0    33   15

In [67]:
bottom2018

PlayType    Fumble  Pass  Run
ShortName
49ers            1    31   14
Bills            0    28   18
Buccaneers       3    46   15
Cardinals        1    22   12
Dolphins         1    32   12
Falcons          2    40   12
Jets             1    24   14
Lions            1    28   17
Raiders          2    27   11

In [110]:
topAverages2018

PlayType  Fumble  Pass   Run
Average      1.2  40.5  23.8

In [111]:
bottomAverages2018

PlayType    Fumble       Pass        Run
Average   1.333333  30.888889  13.888889

## 2019 Data

In [71]:
top2019, bottom2019 = play_count("2019_scores.csv", "2019_plays.csv")
topAverages2019 = play_type_averages(top2019)
bottomAverages2019 = play_type_averages(bottom2019)

In [72]:
top2019

PlayType   Fumble  Pass  Run
ShortName
49ers           2    36   36
Bills           1    27   20
Chiefs          2    48   26
Cowboys         0    34   20
Packers         1    38   23
Patriots        1    35   23
Ravens          1    43   24
Saints          0    44   15
Titans          0    43   24
Vikings         0    35   27

In [73]:
bottom2019

PlayType   Fumble  Pass  Run
ShortName
Bengals         1    29   12
Cardinals       1    28   20
Dolphins        0    27   15
Giants          4    40   15
Jaguars         2    26    5
Jets            2    26    8
Lions           1    32   11
Panthers        1    24   24
Raiders         0    31   16

In [114]:
topAverages2019

PlayType  Fumble  Pass   Run
Average      0.8  38.3  23.8

In [115]:
bottomAverages2019

PlayType    Fumble       Pass   Run
Average   1.333333  29.222222  14.0

## 2020 Data

In [77]:
top2020, bottom2020 = play_count("2020_scores.csv", "2020_plays.csv")
topAverages2020 = play_type_averages(top2020)
bottomAverages2020 = play_type_averages(bottom2020)

In [78]:
top2020

PlayType    Fumble  Pass  Run
ShortName
Bills            0    45   17
Buccaneers       0    53   21
Chiefs           0    43   17
Colts            1    27   22
Packers          1    54   19
Rams             2    23   22
Ravens           0    30   27
Saints           0    32   31
Seahawks         0    44   15
Steelers         1    40   13

In [79]:
bottom2020

PlayType   Fumble  Pass  Run
ShortName
Bengals         1    20   14
Broncos         2    23   12
Cowboys         1    27   15
Eagles          1    23   16
Giants          1    12   13
Jaguars         0    25    9
Jets            0    19    9
Lions           0    30   17
Panthers        1    17   20
Texans          0    34   10

In [116]:
topAverages2020

PlayType  Fumble  Pass   Run
Average      0.5  39.1  20.4

In [117]:
bottomAverages2020

PlayType  Fumble  Pass   Run
Average      0.7  23.0  13.5

## 2021 Data

In [83]:
top2021, bottom2021 = play_count("2021_scores.csv", "2021_plays.csv")
topAverages2021 = play_type_averages(top2021)
bottomAverages2021 = play_type_averages(bottom2021)

In [84]:
top2021

PlayType    Fumble  Pass  Run
ShortName
49ers            0    31   29
Bengals          1    47   20
Bills            1    49   27
Buccaneers       0    51   24
Chiefs           1    58   19
Colts            0    30   25
Cowboys          1    48   17
Patriots         1    32   31
Rams             0    57   12
Titans           0    31   26

In [85]:
bottom2021

PlayType   Fumble  Pass  Run
ShortName
Bears           1    23   17
Falcons         1    24   13
Giants          0    23    9
Jaguars         2    21   15
Jets            0    26   17
Lions           0    27   16
Panthers        1    19   19
Raiders         1    28   17
Steelers        0    31   13
Texans          0    23   12

In [118]:
topAverages2022

PlayType  Fumble  Pass   Run
Average      1.1  38.1  23.7

In [127]:
bottomAverages2022

PlayType  Fumble  Pass   Run
Average      1.4  27.4  15.4

## 2022 Data

In [89]:
top2022, bottom2022 = play_count("2022_scores.csv", "2022_plays.csv")
topAverages2022 = play_type_averages(top2022)
bottomAverages2022 = play_type_averages(bottom2022)

In [90]:
top2022

PlayType   Fumble  Pass  Run
ShortName
49ers           2    37   23
Bengals         0    43   20
Bills           3    40   24
Chiefs          0    55   20
Cowboys         0    40   28
Dolphins        2    38   14
Eagles          1    35   46
Lions           1    35   25
Raiders         0    32   20
Ravens          2    26   17

In [91]:
bottom2022

PlayType    Fumble  Pass  Run
ShortName
Bears            2    27   19
Broncos          1    23   12
Buccaneers       1    30    7
Cardinals        0    23   20
Colts            1    28   11
Rams             3    20   19
Seahawks         0    36   16
Texans           3    31    9
Titans           1    20   19
Vikings          2    36   22

In [120]:
topAverages2023

PlayType  Fumble  Pass   Run
Average      0.5  39.1  25.1

In [121]:
bottomAverages2023

PlayType  Fumble  Pass   Run
Average      0.7  24.0  14.7

## 2023 Data

In [95]:
top2023, bottom2023 = play_count("2023_scores.csv", "2023_plays.csv")
topAverages2023 = play_type_averages(top2023)
bottomAverages2023 = play_type_averages(bottom2023)

In [96]:
top2023

PlayType   Fumble  Pass  Run
ShortName
49ers           0    42   33
Bills           0    38   30
Chiefs          1    48   14
Cowboys         1    45   19
Dolphins        0    39   32
Jaguars         2    26   23
Lions           1    38   36
Packers         0    42   19
Ravens          0    39   31
Saints          0    34   14

In [97]:
bottom2023

PlayType    Fumble  Pass  Run
ShortName
Cardinals        0    24   19
Commanders       2    35   15
Falcons          0    18   16
Giants           1    22   13
Jets             0    19    9
Panthers         1    19    9
Patriots         1    21   14
Rams             0    31   23
Titans           2    18   20
Vikings          0    33    9

In [122]:
topAverages2024

PlayType  Fumble  Pass   Run
Average      1.0  37.4  26.4

In [123]:
bottomAverages2024

PlayType  Fumble  Pass   Run
Average      1.4  24.6  15.0

## 2024 Data

In [101]:
top2024, bottom2024 = play_count("2024_scores.csv", "2024_plays.csv")
topAverages2024 = play_type_averages(top2024)
bottomAverages2024 = play_type_averages(bottom2024)

In [102]:
top2024

PlayType    Fumble  Pass  Run
ShortName
Bills            1    36   40
Broncos          1    36   18
Buccaneers       0    46   20
Chargers         0    26   18
Commanders       0    35   32
Eagles           3    28   40
Lions            1    43   35
Packers          0    33   26
Ravens           2    48   25
Vikings          2    43   10

In [103]:
bottom2024

PlayType   Fumble  Pass  Run
ShortName
Browns          0    26   12
Cowboys         2    27    9
Falcons         2    22   20
Giants          1    20   18
Jaguars         1    26   13
Panthers        2    26   19
Patriots        1    21   14
Raiders         2    25   11
Saints          1    24   19
Titans          2    29   15

In [125]:
topAverages2024

PlayType  Fumble  Pass   Run
Average      1.0  37.4  26.4

In [124]:
bottomAverages2024

PlayType  Fumble  Pass   Run
Average      1.4  24.6  15.0